- if logged_in?
  != render :partial => 'spots/new', :object => @spot
- else
  %p
    :textile
      Spot-A-Tron is a Twitter clone designed solely for posting "Spotify":http://www.spotify.com URLs and sharing them with your friends, so it's easy to tell your friends what you're listening to.
  %p
    Planned features for Spot-A-Tron include specific user feeds, the ability to follow people (like Twitter),
    Twitter integration, and whatever else I can be bothered to do.
  %p
    :textile
      Spot-A-Tron was made by "Mac":http://www.shrieking.net over Christmas 2008 in a buck's fizz fueled frenzy, and is the first thing to appear on "Very Happy Things":http://www.veryhappythings.co.uk.  It is written in "Ruby on Rails":http://www.rubyonrails.org and is forever indebted to the awesomeness of "HAML":http://haml.hamptoncatlin.com/, "Kuler":http://kuler.adobe.com and "Nigella":http://www.nigella.com/.
    
#latest
  != render :partial => 'spots/spot', :collection => @spots.reverse